{% extends 'base.html' %}

{% block main %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Thank you for your order!</h1>
      <p class="lead text-muted">We ordered 5 items for you and charged your student account on March 23rd 2019
        5:15:35 PM.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <h4 class="mb-3">You have ordered</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Fruit Name</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Strawberry</td>
            <td>{{datos.strawberry}}</td>
          </tr>
          <tr>
            <td>Raspberry</td>
            <td>{{datos.raspberry}}</td>
          </tr>
          <tr>
            <td>Apple</td>
            <td>{{datos.apple}}</td>
          </tr>
        </tbody>
      </table>

      <h4 class="mb-3">Your Information</h4>
      <div class="row">
        <div class="col-md-6 mb-3">
          First Name: {{datos.first_name}}
        </div>
        <div class="col-md-6 mb-3">
          Last Name: {{datos.last_name}}
        </div>
      </div>

      <div class="mb-3">
        Your Student ID: {{datos.student_id}}
      </div>

      <hr class="mb-4">
      <a class="btn btn-primary btn-lg btn-block" href="/">Go Back</a>

    </div>
  </div>
{% endblock %}
