{% extends 'base.html' %}

{% block main %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Dojo Fruit Store!</h1>
      <p class="lead text-muted">Your dojo decided to buy fruits for all the students! Please use this app to tell us
        what you would like to have! Once we get your order, we'll charge your student account automatically.</p>
      <p>
        <a href="#buy" class="btn btn-primary my-2">Order fruits from the store</a>
        <a href="/fruits" class="btn btn-secondary my-2">See Fruits</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <form action='/checkout' method='post'>
        <h4 class="mb-3" id='buy'>What would you like to buy?</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Fruit Name</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Strawberry</td>
              <td>
                <select name='strawberry'>
                  <option value='0'>0</option>
                  <option value='1'>1</option>
                  <option value='2'>2</option>
                  <option value='3'>3</option>
                  <option value='4'>4</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Raspberry</td>
              <td>
                <select name='raspberry'>
                  <option value='0'>0</option>
                  <option value='1'>1</option>
                  <option value='2'>2</option>
                  <option value='3'>3</option>
                  <option value='4'>4</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Apple</td>
              <td>
                <select name='apple'>
                  <option value='0'>0</option>
                  <option value='1'>1</option>
                  <option value='2'>2</option>
                  <option value='3'>3</option>
                  <option value='4'>4</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>

        <h4 class="mb-3" id='info'>Your Information</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" name="first_name" placeholder="" value="">
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" name="last_name" placeholder="" value="">
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Your Student ID <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" name="student_id" placeholder="123-456-7890">
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Checkout</button>
      </form>


    </div>
  </div>
{% endblock %}
